<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h1>Products</h1>
    <p th:text="'The product name is: '+${appname}"></p>
    <ul>
        <li>
            <a th:href="@{/products/data engineering tool/details}">Product 1</a>
        </li>
        <li>
            <a th:href="@{/products/campaign management/details}">Product 2</a>
        </li>
        <li>
            <a th:href="@{/products/prescription management/details}">Product 3</a>
        </li>
    </ul>
    <div>
        <a th:href="@{/home}">Back</a>
    </div>
</body>
</html>